.search__container
    border: 1px solid black
    border-radius: 10px
    padding-left: 20px
    margin: 100px

.search__status
    display: flex

.search__flight-info
    display: flex

p
    display: flex
    align-items: center
    padding-right: 100px
